    #kotakantrian {
	/* height: 100px;
	width: 200px; */
	position: fixed;
	bottom: 10px;
	right: -190px ;
	width: 300px ;
	/* width: 5%; */
	/* display: inline-block */
	}

	.active {
	/* width: 75%; */
	/* width: 200px; */
	right: 10px !important;
	}

	.nonactive {
	/* width: 10%; */
	width: 200px;
	}
    
	#kotakantrian,
	.active,
	.nonactive {
	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
	}